@import '~@fontsource/roboto/400.css'; // regular
@import '~@fontsource/roboto/500.css'; // medium
@import '~@fontsource/roboto/700.css'; // bold
@import '~@fontsource/montserrat/400.css';
@import '~@fontsource/montserrat/600.css'; // semibold
@import '~@fontsource/montserrat/700.css';


$fullWidth: 100%;
$maxWidth: 1280px;
$mainMaxWidth: 600px;
$transitionPoint: 1024px;
$white: #fff;
$red: rgb(185, 0, 0);
$blue: #00b1ff;
$fontGrey: #6F8CAA;
$fontTitle: #1A3150;
$backgroundColorBody: #f5f7f9;
$backgroundColorHeader: #1E3554; 
$backgroundColorInfo: #112948; 
$backgroundColorMain: #E1E7ED;


@mixin hover($opacity, $delay) {
  opacity: $opacity;
  transition: opacity linear $delay;
}

@mixin fontProperty($family, $size, $weight, $height, $style) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  font-style: $style;
}

%fontRobotoRegular {
  font-family: 'Roboto';
  font-weight: 400;
}
